div{
    --coremarg: 5px; 
    --extramarg: 1%; /* This margin is used for any added margin between items */
    --defaultwidth: 60%;
}

/* Core Flags */
    /*side */
        div[alt*="+side"]{
            position: relative;
            width: var(--defaultwidth);
            float: right;
            margin: 0px;
            margin-left: var(--extramarg);
        }
        
    /*tape */
        div[alt*="+tape"] {
            position: relative;
            float: right;
            width: var(--defaultwidth);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(2deg);
        }

        div[alt*="+tape"]::before {
            content: "";
            display: block;
            position: relative;
            margin: auto;
            width: 100px;
            height: 30px;
            top: 12px;
            background: rgba(255, 234, 118, 0.377); /*here you can chosse the scotch tape background*/
            -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
            z-index: 10;
            clip-path: polygon(50% 0%, 100% 0%, 
            98% 10%, 100% 20%, 98% 30%, 100% 40%, 98% 50%, 100% 60%, 98% 70%, 100% 80%, 98% 90%,100% 100%,
            0% 100%, 2% 90%, 0% 80%, 2% 70%, 0% 60%, 2% 50%, 0% 40%, 2% 30%, 0% 20%, 2% 10%, 0% 0%);  
        }
        div[alt*="-lg"]::before{
            width: 100px;
            height: 30px;
        }

        div[alt*="-med"]::before{
            width: 70px;
            height: 25px;
        }

        div[alt*="-sm"]::before{
            width: 45px;
            height: 15px;
            top: 8px;
        }
        div[alt*="-thumb"]::before{
            width: 25px;
            height: 5px;
            top: 2px;
        }
    /* Push Pin */
        div[alt*="+pin"] {
            position: relative;
            float: right;
            width: var(--defaultwidth);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(2deg);
            margin: auto;
        }
        div[alt*="+pin"]::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: #4588cc;
            top: -3%;
            left: 50%;
            border: solid #336699 8px;
            border-radius: 50%;
            box-shadow: #274d74 -3px 3px 1px;

        }
    /*Custom Core Flags */
        div[alt*="+custom1"]{
            position: relative;
            width: var(--defaultwidth);
            float: right;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        div[alt*="+custom2"]{
            position: relative;
            width: var(--defaultwidth);
            float: right;
            margin-top: 0px;
            margin-bottom: 0px;
        }

    /* Portrait and Landscape */
        div[alt*="+portrait"]{
            position: relative;
            width: calc(var(--defaultwidth)/2);
            float: right;
            /* background-color:blue; This setting will create a border effect of set color */
            clip-path: ellipse(36% 46% at 50% 50%);}
        div[alt*="+portrait"]>img{
            vertical-align: middle;
            clip-path: ellipse(35% 45% at 50% 50%);}
        div[alt*="+landscape"]{
            position: relative;
            width: var(--defaultwidth);
            float: right;
            /* background-color:blue; This setting will create a border effect of set color */
            clip-path: ellipse(46% 36% at 50% 50%);}
        div[alt*="+landscape"]>img{
            vertical-align: middle;
            clip-path: ellipse(45% 35% at 50% 50%);}

    /* Banner and HR */
        div[alt*="+banner"]{
            height: 100px;
            overflow: hidden;

        }

        div[alt*="+banner"]>img{
            margin-top: -130px;
            }

        div[alt*="+hr"]{
            height: 10px;
            overflow: hidden;
            border-radius: 20px;

        }

        div[alt*="+hr"]>img{
            margin-top: -200px;
            }
        






/* Modifier Flags */
    /* Orientation and position */
        div[alt*="-left"]{
            float: left;
            margin: 0px;
            margin-right: var(--extramarg);}
        div[alt*="-right"]{
            float: right;
            margin: 0px;
            margin-left: var(--extramarg);}
        div[alt*="-fix"]{position: fixed;}
        div[alt*="-abs"]{position: absolute;}

    /* Size */
        div[alt*="-thumb"]{width: 11.50%;}
        div[alt*="-sm"]{width: 24%;}
        div[alt*="-med"]{width: 32.3333%;}
        div[alt*="-lg"]{width: 49%;}
        div[alt*="-huge"]{width: 67%;}
        div[alt*="-cwidth"]{float: none;margin-left: -10%;width: 120%;}

/* Borders */
div[alt*="-border1"]>img{border: solid #336699 2px;}
div[alt*="-border2"]>img{border: solid black 2px;}
div[alt*="-bradius1"]>img{border-radius: 5px;}
div[alt*="-bradius2"]>img{border-radius: 20px;}
div[alt*="-bradiustl"]>img{border-top-left-radius: 20px;}
div[alt*="-bradiusbr"]>img{border-bottom-right-radius: 20px;}
div[alt*="-bradiustr"]>img{border-top-right-radius: 20px;}
div[alt*="-bradiusbl"]>img{border-bottom-left-radius: 20px;}
div[alt*="-bthick"]>img{border-width: 5px;}
div[alt*="-bthin"]>img{border-width: 1px;}

/* Div Borders */
div[alt*="-divborder1"]{border: solid #336699 2px;}
div[alt*="-divborder2"]{border: solid black 2px;}
div[alt*="-divbradius1"]{border-radius: 5px;}
div[alt*="-divbradius2"]{border-radius: 20px;}
div[alt*="-cdivbradius1"]{border-radius: 50px;}


div[alt*="-shadow1"]>img{
    box-shadow: darkgrey -2px 2px 2px;

}


div[alt*="-glow"]>img{
    box-shadow: darkgrey 0px 0px 20px;
}

div[alt*="-nofloat"]{
    float:none
}

/*
This is for my own visual effect during editing. Delete after finalization. 

h1 {
    align-content: center;
    object-fit: contain;
    padding-left: 5px;
    text-align: center;
    text-transform: capitalize;
    border-bottom: #336699 2px dotted;
} */