div[alt*="tape"]::before {
    content: "";
    display: block;
    position: relative;
    margin: auto;
    background: rgba(255, 234, 118, 0.24); /*here you can chosse the scotch tape background*/
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    z-index: 10;
    clip-path: polygon(50% 0%, 100% 0%, 
    98% 10%, 100% 20%, 98% 30%, 100% 40%, 98% 50%, 100% 60%, 98% 70%, 100% 80%, 98% 90%,100% 100%,
    0% 100%, 2% 90%, 0% 80%, 2% 70%, 0% 60%, 2% 50%, 0% 40%, 2% 30%, 0% 20%, 2% 10%, 0% 0%);  }
  
  div[alt*="tape"] {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(2deg);
  }

  div[alt*="-lg"]::before{
    width: 100px;
    height: 30px;
    top: 10px;
  }

  div[alt*="-med"]::before{
    width: 70px;
    height: 25px;
    top: 8px;
  }

  div[alt*="-sm"]::before{
    width: 45px;
    height: 15px;
    top: 5px;
  }