div[src$="#portraitfixed"]{
  position: fixed;
  width: 200px;
  right: 50px;
  top: 50px;
  clip-path: ellipse(32% 45% at 50% 50%);
}

div[src$="#portrait"]{
  position: relative;
  width: 200px;
  float: right;
  clip-path: ellipse(32% 45% at 50% 50%);
}

div[alt*="-side"]{
position: relative;
margin: 10px;
margin-right: 15px;
margin-top: 5px;
margin-bottom: 0px;
box-shadow: 5px -5px 5px grey;
}

div[alt*="-left"]{float: left}
div[alt*="-right"]{float: right}

div[alt*="-sm"]{width: 20%;}
div[alt*="-med"]{width: 35%;}
div[alt*="-lg"]{width: 50%;}


div[src$="#sideright"]{
  position: relative;
  float: right;
  width: 30%;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  
  }